<div class="col-md-6 col-md-offset-2">
  <h3>Login</h3>
  <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
   <div class="form-group">
     <label for="email">Email Address:</label>
     <input type="email" class="form-control" id="email" formControlName="email"/>
     <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
       <div *ngIf="loginForm.controls.email.errors.required" class="text-danger">
        Email is required
       </div>
     </div>
   </div>

   <div class="form-group">
      <label for="password">Password :</label>
      <input type="password" class="form-control" id="password" formControlName="password"/>
      <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
        <div *ngIf="loginForm.controls.password.errors.required" class="text-danger">
         Password is required
        </div>
      </div>
    </div>
    <button class="btn btn-success">Login</button> &nbsp;
<button class="btn btn-danger" type="reset">Cancel</button>
&nbsp;
<a class="btn btn-warning" [routerLink]="['/home']">
Go to Home</a> <br /><br />
<div *ngIf="invalidLogin" class="error">
<div class="text-danger">
Invalid credentials ..
</div>
</div>

  </form>
</div>